.evCont {
  height: 100%;
  padding: 20px;
}

.mySwiper {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 5px;
  flex-direction: column;
  padding-bottom: 20px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.swiper-slide .title {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.swiper-slide h3,
h6,
p {
  padding: 0 20px;
}

.swiper-slide p {
  font-size: 18px;
  text-align: justify;
  font-weight: normal;
  font-family: "Source Sans 3", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.swiper-slide h3 {
  padding-top: 20px;
}
